In [1]:
#1 How do you comment code in Python? What are the different types of comments?
# This is a single-line comment
print("Hello, world!")  # This is also a single-line comment

# This is a single-line comment
print("Hello, world!")  # This is also a single-line comment

In [2]:
#2 Variable declaration and assignment
x = 10       # Assign the integer value 10 to the variable x
name = "John"  # Assign the string value "John" to the variable name
pi = 3.14    # Assign the float value 3.14 to the variable pi

# Variable reassignment
x = 20       # Reassign the variable x to the integer value 20
name = "Alice"  # Reassign the variable name to the string value "Alice"
pi = 3.14159  # Reassign the variable pi to the float value 3.14159

In [3]:
#3
# Convert to integer
x = int("10")

# Convert to float
y = float("3.14")

# Convert to string
z = str(123)

# Convert to boolean
a = bool(0)

# Convert list to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)

# Convert tuple to list
my_tuple = (1, 2, 3)
my_list = list(my_tuple)

In [4]:
#4 How do you write and execute a Python script from the command line?
#open cmd- change drive to file location cd Documents
#cd ~/Documents
python swap_python.py

SyntaxError: invalid syntax (2742523449.py, line 4)

In [5]:
#5 
my_list = [1, 2, 3, 4, 5]

# Slice the list to obtain the sub-list [2, 3]
sub_list = my_list[1:3]

print(sub_list)  # Output: [2, 3]

[2, 3]

In [6]:
#6
# Declare a complex number
z = 3 + 2j

# Display the complex number
print(z)  # Output: (3+2j)

# Display the real and imaginary parts separately
print("Real part:", z.real)      # Output: 3.0
print("Imaginary part:", z.imag)  # Output: 2.0

(3+2j)
Real part: 3.0
Imaginary part: 2.0

In [7]:
#7
age = 25

In [8]:
#8
price = 9.99
print(type(price))

<class 'float'>

In [11]:
#9
name = 'swap'
print("My name is " + name)
print(type(name))

My name is swap
<class 'str'>

In [12]:
#10
# Given string
s = "Hello, World!"

# Extract substring "World" using slicing
substring = s[7:12]

# Print the extracted substring
print(substring)

World

In [ ]:
#11
is_student = True  # Set to True if you are currently a student, False otherwise